<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woo.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ListVieww"></activity>
        <activity android:name=".listVieww_popup"></activity>
        <activity android:name=".EmptyRoom"></activity>

        <activity android:name=".maps.RegisterNewMapActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".maps.RegisterMapDetailsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".maps.MapActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".maps.PopUpActivity" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".maps.UnusualRecordActivity" android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="qir3dsnn0a"/>

    </application>

</manifest>